{% extends 'main/main.html' %}
{% load static %}
{% block content %}
<!-- Main Section -->
<section class="vh-xl-auto vh-100 py-0 overflow-hidden" style="background-color: black;" data-bs-theme="dark">
	<div class="container-fluid h-100 p-0">
		<div class="row h-100 g-0">
			<!-- Content -->
			<div class="col-lg-6 m-auto order-2">
				<div class="px-5 px-xxl-8 py-6 py-lg-8">
					<!-- Title --> 
					<h1 class="display-2 mb-4 lh-base roboto" style="font-weight:600;">{{hero.title}}
					</h1>
                    <p class="lead mb-5 archivo" style="font-weight:lighter;">{{hero.description}}</p>
					<button type='button' data-toggle="modal" data-target="#info" class="btn btn-lg mb-0 roboto rounded-pill button" >{{hero.button_text}}</button>
				</div>
			</div>

			<!-- Image slider -->
			<div class="col-lg-6 order-1 order-lg-2">
				<!-- Slider START -->
				<div class="swiper mySwiper swiper-img-scale h-100 swiper-fade swiper-initialized swiper-horizontal swiper-watch-progress swiper-backface-hidden" >

                    <div class="swiper-wrapper" id="swiper-wrapper-0d9963dbb1582fb7" aria-live="off">
                        <!-- Slider item -->
                        <div class="swiper-slide" style="width: 1223px; opacity: 1;">
                            <div class="h-100 scale-img py-9" style="background-image:url(static/main/assets/01.jpg); background-position: center left; background-size: cover;"></div>
                        </div>
                        <!-- Slider item -->
                        <div class="swiper-slide" style="width: 1223px; opacity: 1;">
                            <div class="h-100 scale-img py-9" style="background-image:url(static/main/assets/02.jpg); background-position: center left; background-size: cover;"></div>
                        </div>
                        <!-- Slider item -->
                        <div class="swiper-slide" style="width: 1223px; opacity: 1;">
                            <div class="h-100 scale-img py-9" style="background-image:url(static/main/assets/03.jpg); background-position: center left; background-size: cover;"></div>
                        </div>
                    </div>
                </div>
		</div>
	</div>
</section>

<!-- About Section -->
<section class="about">
	<div class="container">
		<div class="row">
			<div class="col-lg-11 mx-auto">
				<div class="row g-4 g-lg-6">
					<!-- Title content -->
					<div class="col-xl-5">
						<h3>{{about.description}} <span class="text-primary">{{about.highlight_text}}</span></h3>
					</div>

					<!-- Years content -->
					<div class="col-md-6 col-xl-3">
						<div class="bg-light rounded p-4 overflow-hidden bg-dark">
							<h6 class="mb-5 mb-sm-8">Since</h6>
							<div class="display-1 text-primary text-end mb-n5 mb-md-n6 me-n4">{{about.year}}</div>
						</div>
					</div>
					
					<!-- Info content -->
					<div class="col-md-6 col-xl-4">
						<h6 class="fw-semibold mb-5">10 Years of working experience</h6>
					
						<!-- Accordion START -->
						<div class="accordion accordion-icon accordion-border-bottom" id="accordionFaq">
							<!-- Item -->
							<div class="accordion-item mb-3">
								<div class="accordion-header font-base" id="heading-1">
									<button class="accordion-button fw-semibold rounded collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
										<i class="bi bi-bullseye text-primary me-2"></i>Our Mission
									</button>
								</div>
								<!-- Body -->
								<div id="collapse-1" class="accordion-collapse collapse" aria-labelledby="heading-1" data-bs-parent="#accordionFaq">
									<div class="accordion-body pb-0">
										{{about.mission_text}}
									</div>
								</div>
							</div>

							<!-- Item -->
							<div class="accordion-item mb-3">
								<div class="accordion-header font-base" id="heading-2">
									<button class="accordion-button fw-semibold rounded collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
										<i class="bi bi-trophy text-primary me-2"></i>Our Goal
									</button>
								</div>
								<!-- Body -->
								<div id="collapse-2" class="accordion-collapse collapse" aria-labelledby="heading-2" data-bs-parent="#accordionFaq">
									<div class="accordion-body pb-0">
										{{about.vision_text}}
									</div>
								</div>
							</div>
						</div>
						<!-- Accordion END -->
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Services Section -->
<section class="bg-dark services" data-bs-theme="dark" >
	<div class="container">
		<div class="inner-container-small m-0 mb-7">
			<h2 class="mb-4">Our Comprehensive Services</h2>
			<p class="mb-0">Our team of experts specializes in delivering tailored services designed to propel your organization forward in today's fast-paced digital landscape.</p>
		</div>

		<div class="row">
			<div class="col-12">

				<hr> <!-- Divider -->
				{% for service in services %}
				{% if service.html_id == 'serv_ai' %}
				<!-- AI Service item -->
				<div class="row align-items-center position-relative py-4" id="{{service.html_id}}">
					<div class="col-md-2 mb-3 mb-md-0">
						<img src="{% static 'main/assets/sparkles.png' %}" width="60" height="60" alt="Motion Graphics" class="img-fluid" style="color: aliceblue;">			
					</div>

					<div class="col-md-3 mb-3 mb-md-0"</div>
						<h5 class="mb-0"><a href="#" data-toggle="modal" data-target="#info" class="stretched-link">{{service.name}}</a></h5>
					</div>

					<div class="col-md-5 ms-auto">
						<p class="mb-0">{{service.description}}</p>
					</div>
				</div>
				<hr> <!-- Divider -->
				{% else %}
				<!-- Service item -->
				<div class="row align-items-center position-relative py-4" id="{{service.html_id}}">
					{{service.icon | safe}}

					<div class="col-md-3 mb-3 mb-md-0"</div>
						<h5 class="mb-0"><a href="#" data-toggle="modal" data-target="#info" class="stretched-link">{{service.name}}</a></h5>
					</div>

					<div class="col-md-5 ms-auto">
						<p class="mb-0">{{service.description}}</p>
					</div>
				</div>
				<hr> <!-- Divider -->		
				{% endif %}		
				{% endfor %}
			</div>
		</div>
	</div>
</section>



{% endblock content %}