{% extends 'main/main.html' %}
{% load static %}
{% block content %}
<!-- Main Section -->
<section class="vh-xl-auto vh-100 py-0 overflow-hidden" style="background-color: black;" data-bs-theme="dark">
	<div class="container-fluid h-100 p-0">
		<div class="row h-100 g-0">
			<!-- Content -->
			<div class="col-lg-6 m-auto order-2">
				<div class="px-5 px-xxl-8 py-6 py-lg-8">
					<!-- Title --> 
					 {% if hero.title == '' %}
					 <h1 class="display-2 mb-4 lh-base roboto" style="font-weight:600;">No Header</h1>
					 <p class="lead mb-5 archivo" style="font-weight:lighter;">No Text</p>
					 {% else %}
					<h1 class="display-2 mb-4 lh-base roboto" style="font-weight:600;">{{hero.title}}
					</h1>
                    <h2 class="lead mb-5 archivo">{{hero.description}}</h2>
					<button type='button' data-toggle="modal" data-target="#info" class="btn btn-lg mb-0 roboto rounded-pill button" >{{hero.button_text}}</button>
					{% endif %}
				</div>
			</div>

			<!-- Image slider -->
			<div class="col-lg-6 order-1 order-lg-2">
				<!-- Slider START -->
				<div class="swiper mySwiper swiper-img-scale h-100 swiper-fade swiper-initialized swiper-horizontal swiper-watch-progress swiper-backface-hidden" >

                    <div class="swiper-wrapper" id="swiper-wrapper-0d9963dbb1582fb7" aria-live="off">
                        <!-- Slider item -->
                        <div class="swiper-slide" style="width: 1223px; opacity: 1;">
                            <div class="h-100 scale-img py-9" style="background-image:url(static/main/assets/01.jpg); background-position: center left; background-size: cover;"></div>
                        </div>
                        <!-- Slider item -->
                        <div class="swiper-slide" style="width: 1223px; opacity: 1;">
                            <div class="h-100 scale-img py-9" style="background-image:url(static/main/assets/02.jpg); background-position: center left; background-size: cover;"></div>
                        </div>
                        <!-- Slider item -->
                        <div class="swiper-slide" style="width: 1223px; opacity: 1;">
                            <div class="h-100 scale-img py-9" style="background-image:url(static/main/assets/03.jpg); background-position: center left; background-size: cover;"></div>
                        </div>
                    </div>
                </div>
		</div>
	</div>
</section>

<!-- About Section -->
<section class="expertise py-5 text-light">
    <div class="container">
        <div class="row text-center mb-5">
            <div class="col-lg-8 mx-auto">
                <h3 class="display-5 fw-bold roboto">Leverage Our Full Digital Product Expertise</h3>
                <p class="lead archivo">Whether you want to consult an idea, add missing capabilities, quickly expand your team, or hand over a project – we’ve got you covered.
				</p>
            </div>
        </div>

			<div class="row numbers bg-dark">
				<div class="col-md-4 mb-4">
					<div class="p-4 ">
						<h class="fw-bold text-light roboto"><span>00.</span> Every Step of Success  <i class="bi bi-arrow-right-short"></i></h5>
						<p class="archivo">Insightful guidance to define a roadmap that aligns with your business goals.</p>
					</div>
				</div>
				<div class="col-md-4 mb-4">
					<div class="p-4 bg-secondary rounded cards">
						<h5 class="fw-bold text-light roboto"><span>01.</span> Ideate</h5>
						<p class="archivo">Identify, shape and validate your product idea</p>
					</div>
				</div>
				<div class="col-md-4 mb-4">
					<div class="p-4 bg-secondary rounded cards">
						<h5 class="fw-bold text-light roboto"><span>02.</span> Design</h5>
						<p class="archivo">Craft beautiful digital experiences accross platforms</p>
					</div>
				</div>
				<div class="col-md-4 mb-4">
					<div class="p-4 bg-secondary rounded cards">
						<h5 class="fw-bold text-light roboto"><span>03.</span> Develop</h5>
						<p class="archivo">Bring products to life with world-class engineering</p>
					</div>
				</div>
				<div class="col-md-4 mb-4">
					<div class="p-4 bg-secondary rounded cards">
						<h5 class="fw-bold text-light roboto"><span>04.</span> Maintain</h5>
						<p class="archivo">Safegaurd your product's quality and reliability</p>
					</div>
				</div>
				<div class="col-md-4 mb-4">
					<div class="p-4 bg-secondary rounded cards">
						<h5 class="fw-bold text-light roboto"><span>05.</span> Scale</h5>
						<p class="archivo">Gain flexibility to adjust and expand on the fly</p>
					</div>
				</div>



        </div>
    </div>
</section>


<!-- Services Section -->
<section class="bg-dark services" data-bs-theme="dark" >
	<div class="container">
		<div class="row text-center mb-5">
			<div class="col-lg-8 mx-auto">
				<h3 class="display-5 fw-bold roboto">Our Comprehensive Services</h3>
				<p class="lead archivo">Whether you want to consult an idea, add missing capabilities, quickly expand your team, or hand over a project – we’ve got you covered.
				</p>
			</div>
		</div>

		<div class="row">
			<div class="col-12">

				<hr> <!-- Divider -->
				{% if services %}
				{% for service in services %}
				{% if service.html_id == 'serv_ai' %}
				<!-- AI Service item -->
				<div class="row align-items-center position-relative py-4" id="{{service.html_id}}">
					<div class="col-md-2 mb-3 mb-md-0">
						<img src="{% static 'main/assets/sparkles.png' %}" width="60" height="60" alt="Motion Graphics" class="img-fluid" style="color: aliceblue;">			
					</div>

					<div class="col-md-3 mb-3 mb-md-0"</div>
						<h5 class="mb-0"><a href="#" data-toggle="modal" data-target="#info" class="stretched-link">{{service.name}}</a></h5>
					</div>

					<div class="col-md-5 ms-auto">
						<p class="mb-0">{{service.description}}</p>
					</div>
				</div>
				<hr> <!-- Divider -->
				{% else %}
				<!-- Service item -->
				<div class="row align-items-center position-relative py-4" id="{{service.html_id}}">
					{{service.icon | safe}}

					<div class="col-md-3 mb-3 mb-md-0"</div>
						<h5 class="mb-0"><a href="#" data-toggle="modal" data-target="#info" class="stretched-link">{{service.name}}</a></h5>
					</div>

					<div class="col-md-5 ms-auto">
						<p class="mb-0">{{service.description}}</p>
					</div>
				</div>
				<hr> <!-- Divider -->		
				{% endif %}		
				{% endfor %}
				{% endif %}
			</div>
		</div>
	</div>
</section>



{% endblock content %}